/* ==================== ITEM PROPERTIES ===================== */

.sidebar {
  margin: 10px 0 10px 10px;
  padding: 15px;
  border-radius: 7px;
  transition: background 0.4s ease-in, color 0.4s ease-in;
  background: #262626;
  color: #efefef;
  /* for testing */
  max-width: 300px;
  form {
    display: flex;
    flex-direction: column;
    color: #efefef;

    // > .form-group-item {
    //   padding: 10px;
    //   border-radius: 3px;
    //   background: #3b3b3b;
    // }

    .form-group-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 15px 0;
      color: #efefef;
      &.slider-item {
        display: block;
        label {
          line-height: 47px;
          margin: 1px 5px 5px 0;
          transform: translateY(1px);
        }
        > p {
          margin-top: 16px;
          min-width: 24px;
        }
        span {
          display: inline-block;
          min-width: 36px;
        }
      }
      input.form-control,
      select {
        /* reset unnecessary photn values */
        width: 100%;
        /* make resizeable */
        flex-grow: 1;
        flex-shrink: 1;
        height: 25px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 25px;
        border: 0;
        color: #efefef;
        background: #3b3b3b; //top-level-input?
        &:focus {
          box-shadow: 0 1.4px 1.1px rgba(#009485, 0.034),
            0 3.25px 2.6px rgba(#009485, 0.048), 0 6.2px 5px rgba(#009485, 0.06),
            0 11px 8px rgba(#009485, 0.072);
          border: 2px solid #009485;
          box-sizing: border-box;
        }
      }
      label,
      p {
        display: inline-flex;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 10px 5px 0;
        line-height: 2em;
        min-width: 50px;
      }
      table {
        color: #efefef;
        background: #3b3b3b; //sidebar-table?
        border-radius: 5px;
        padding: 5px;
        border-radius: 5px;
        thead,
        tbody {
          background: #3b3b3b; //sidebar-table?
        }
        thead {
          tr:active {
            background: #009485;
            color: #262626;
          }
        }
        tbody {
          tr:first-of-type {
            td {
              padding: 15px 0 5px 5px;
            }
          }
          tr:active {
            background: #009485;
            color: #262626;
          }
        }
        td {
          padding: 5px;
          > .form-group-item {
            display: table-cell;
            margin: 0;
            padding: 0;
            .form-control {
              padding: 0 5px;
              background: #4d4d4d; //table-input or level-2-input ?
            }
          }
          .slider-item {
            flex-wrap: nowrap;
            input[type="range"] {
              &::-webkit-slider-runnable-track {
                background-color: #3b3b3b; //level-2-slider-track?
              }
            }
            span {
              min-width: 36px;
              display: inline-block;
            }
            input {
              display: inline-block !important; /* remove display none from wherever :D */
              transition: width 0.33s ease-out, opacity 0.15s;
              -webkit-transition: width 0.33s ease-out, opacity 0.15s;
              -moz-transition: width 0.33s ease-out, opacity 0.15s;
              width: 0px;
              opacity: 0;
            }
            &:hover > input {
              width: 95px;
              opacity: 1;
            }
          }
        }
        th {
          height: 25px;
          padding: 10px 5px;
          border-right: 0;
          border-bottom: 1px dashed;
          font-size: 1.12em;
        }
      }
      // select {
      //   @include customize(theme) {
      //     color: #efefef;
      //     background: #3b3b3b;
      //   }
      //   border: none;
      // }
      .table-item {
        overflow-x: scroll;
      }
    }

    .table-striped tr {
      color: #efefef;
      background: transparent;
    }
    textarea {
      min-width: 250px;
      min-height: 100px;
    }
    input[type="range"] {
      margin: 5.8px 4px;
      max-width: 95px;
      background-color: transparent;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        background-color: #4d4d4d; //level-1-slider-track?
        transition: background 0.2s ease;
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 4px;
        cursor: pointer;
      }
      &::-webkit-slider-thumb {
        margin-top: -5.8px;
        width: 15px;
        height: 15px;
        border: 1px solid;
        border-color: #3b3b3b;
        background: #009485;
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      &:hover::-webkit-slider-runnable-track {
        background-color: #efefef;
      }
      &:focus::-webkit-slider-runnable-track {
        background-color: #efefef;
      }
    }
    .form-control.card {
      background: #3b3b3b; //sidebar-card?
      border: 0;
      table {
        .btn.btn-default {
          border: 2px solid;
          color: #efefef;
          border-color: #efefef;
          &:hover {
            color: #009485;
            border-color: #009485;
          }
        }
      }
      table,
      thead,
      tbody {
        background: #4d4d4d; //sidebar-card-table?
      }
      .form-group-item {
        select,
        input.form-control {
          background: #4d4d4d; //sidebar-card-table?
        }
      }
      hr {
        width: 100%;
        border-style: dashed;
        border-width: 1px;
        border-color: #4d4d4d; //sidebar-card-table?
      }
    }
  }
  .btn {
    margin: 0 auto;
    border: 2px solid #efefef;
    background: transparent;
    color: #efefef;
    padding: 5px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: #009485;
      border-color: #009485;
    }
    .btn-group {
      &:first-child {
        &:hover {
          color: hsl(0deg, 90%, 40%);
          border-color: hsl(0deg, 90%, 40%);
        }
      }
    }
  }
}
